@import url('https://fonts.googleapis.com/css?family=Text+Me+One');

$text-shadow: .1vw 0vw .25vw #ffd8d8, .2vw 0vw .25vw #ffd8d8, .4vw 0vw .25vw #ffd8d8, 
  .1vw 0vw   0vw var(--color2), .2vw 0vw   0vw var(--color2), .4vw 0vw   0vw var(--color2),
  .1vw 0vw  .1vw var(--color2), .2vw 0vw  .1vw var(--color2), .4vw 0vw  .1vw var(--color2),
  .1vw 0vw   2vw var(--color2), .2vw 0vw   2vw var(--color2), .4vw 0vw   2vw var(--color2), 
  .1vw 0vw   1vw var(--color1), .2vw 0vw   1vw var(--color1), .4vw 0vw   5vw var(--color1), 
  .1vw 0vw   5vw var(--color1), .2vw 0vw  20vw var(--color1), .4vw 0vw  10vw var(--color1),
  .1vw 0vw  10vw var(--color1), .2vw 0vw  30vw var(--color1), .4vw 0vw  10vw var(--color1);

$border-shadow: 0 0 0.1vw 0.4vw var(--color3),   
  0 0 0.4vw 0.6vw var(--color2), 
  0 0 4vw 0.4vw var(--color1),
  inset 0 0 1.5vw 0.4vw var(--color1),
  inset 0 0 0.4vw 0.2vw var(--color2),
  inset 0 0 0.5vw 0.2vw var(--color3);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(https://render.fineartamerica.com/images/rendered/default/print/8.000/6.125/break/images-medium-5/dark-red-brick-wall-realistic-vector-background-iam-citrus.jpg);
  background-size: cover;
}

.neon-text {
  font-family: 'Text Me One', sans-serif;
  font-size: 10rem;
  text-align: center;
  color: #ffd8d8;
  padding: 0 3.5rem 0 3.5rem;

  // text-shadow: $text-shadow;
  animation: text-glow 5s linear forwards;
}

.neon-wrapper {
  border: solid 2px #ffd8d8;
  border-radius: 1.5rem;
  animation: border-glow 5s linear forwards;
}

@keyframes text-glow {
  0% { text-shadow: none; }
  15% { text-shadow: $text-shadow; }
  17% { text-shadow: none; }
  19% { text-shadow: $text-shadow; }
  
  50% { text-shadow: none; }
  55% { text-shadow: $text-shadow; }
  57% { text-shadow: none; }
  65% { text-shadow: $text-shadow; }
  
  100% { text-shadow: $text-shadow; }
}

@keyframes border-glow {
  0% { box-shadow: none; }
  30% { box-shadow: none; }
  35% { box-shadow: $border-shadow; }
  37% { box-shadow: none; }
  45% { box-shadow: $border-shadow; }
  47% { box-shadow: none; }
  49% { box-shadow: $border-shadow; }
  
  100% { box-shadow: $border-shadow; }
}