@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?49gn1');
  src:  url('fonts/icomoon.eot?49gn1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?49gn1') format('truetype'),
    url('fonts/icomoon.woff?49gn1') format('woff'),
    url('fonts/icomoon.svg?49gn1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Base-con-mas-tablero-sin-luces .path1:before {
  content: "\e900";
  color: rgb(0, 0, 0);
}
.icon-Base-con-mas-tablero-sin-luces .path2:before {
  content: "\e901";
  margin-left: -12.2900390625em;
  color: rgb(0, 0, 0);
}
.icon-Base-con-mas-tablero-sin-luces .path3:before {
  content: "\e902";
  margin-left: -12.2900390625em;
  color: rgb(11, 8, 10);
}
.icon-Base-con-mas-tablero-sin-luces .path4:before {
  content: "\e903";
  margin-left: -12.2900390625em;
  color: rgb(0, 0, 0);
}
.icon-Base-con-mas-tablero-sin-luces .path5:before {
  content: "\e904";
  margin-left: -12.2900390625em;
  color: rgb(0, 0, 0);
}
.icon-Base-con-mas-tablero-sin-luces .path6:before {
  content: "\e905";
  margin-left: -12.2900390625em;
  color: rgb(0, 0, 0);
}
.icon-Base-con-mas-tablero-sin-luces .path7:before {
  content: "\e906";
  margin-left: -12.2900390625em;
  color: rgb(0, 0, 0);
}
.icon-Base-con-mas-tablero-sin-luces .path8:before {
  content: "\e907";
  margin-left: -12.2900390625em;
  color: rgb(0, 0, 0);
}
.icon-Base-con-mas-tablero-sin-luces .path9:before {
  content: "\e908";
  margin-left: -12.2900390625em;
  color: rgb(0, 0, 0);
}
.icon-Base-con-mas-tablero-sin-luces .path10:before {
  content: "\e909";
  margin-left: -12.2900390625em;
  color: rgb(0, 0, 0);
}
.icon-Base-con-mas-tablero-sin-luces .path11:before {
  content: "\e90a";
  margin-left: -12.2900390625em;
  color: rgb(0, 0, 0);
}
.icon-Base-con-mas-tablero-sin-luces .path12:before {
  content: "\e90b";
  margin-left: -12.2900390625em;
  color: rgb(0, 0, 0);
}
.icon-Base-con-mas-tablero-sin-luces .path13:before {
  content: "\e90c";
  margin-left: -12.2900390625em;
  color: rgb(0, 0, 0);
}
.icon-Base-con-mas-tablero-sin-luces .path14:before {
  content: "\e90d";
  margin-left: -12.2900390625em;
  color: rgb(0, 0, 0);
}
.icon-Base-con-mas-tablero-sin-luces .path15:before {
  content: "\e90e";
  margin-left: -12.2900390625em;
  color: rgb(0, 0, 0);
}
.icon-Base-sin-luces .path1:before {
  content: "\e90f";
  color: rgb(0, 0, 0);
}
.icon-Base-sin-luces .path2:before {
  content: "\e910";
  margin-left: -4.021484375em;
  color: rgb(11, 8, 10);
}
.icon-Base-sin-luces .path3:before {
  content: "\e911";
  margin-left: -4.021484375em;
  color: rgb(0, 0, 0);
}
.icon-Base-sin-luces .path4:before {
  content: "\e912";
  margin-left: -4.021484375em;
  color: rgb(0, 0, 0);
}
.icon-Base-sin-luces .path5:before {
  content: "\e913";
  margin-left: -4.021484375em;
  color: rgb(0, 0, 0);
}
.icon-Base-sin-luces .path6:before {
  content: "\e914";
  margin-left: -4.021484375em;
  color: rgb(0, 0, 0);
}
.icon-Base-sin-luces .path7:before {
  content: "\e915";
  margin-left: -4.021484375em;
  color: rgb(0, 0, 0);
}
.icon-Base-sin-luces .path8:before {
  content: "\e916";
  margin-left: -4.021484375em;
  color: rgb(0, 0, 0);
}
.icon-Base-sin-luces .path9:before {
  content: "\e917";
  margin-left: -4.021484375em;
  color: rgb(0, 0, 0);
}
.icon-Base-sin-luces .path10:before {
  content: "\e918";
  margin-left: -4.021484375em;
  color: rgb(0, 0, 0);
}
.icon-Base-sin-luces .path11:before {
  content: "\e919";
  margin-left: -4.021484375em;
  color: rgb(0, 0, 0);
}
.icon-Base-sin-luces .path12:before {
  content: "\e91a";
  margin-left: -4.021484375em;
  color: rgb(0, 0, 0);
}
.icon-Base-sin-luces .path13:before {
  content: "\e91b";
  margin-left: -4.021484375em;
  color: rgb(0, 0, 0);
}
.icon-Base-sin-luces .path14:before {
  content: "\e91c";
  margin-left: -4.021484375em;
  color: rgb(0, 0, 0);
}
.icon-Iso-Azul:before {
  content: "\e91d";
  color: #174f99;
}
.icon-Iso-Blanco:before {
  content: "\e91e";
  color: #fff;
}
.icon-Iso-Negro:before {
  content: "\e91f";
}
.icon-Luz-Apagada:before {
  content: "\e920";
}
.icon-Luz-Encendida:before {
  content: "\e921";
}
.icon-Mapa-Apagado .path1:before {
  content: "\e922";
  color: rgb(0, 0, 0);
}
.icon-Mapa-Apagado .path2:before {
  content: "\e923";
  margin-left: -0.8779296875em;
  color: rgb(0, 0, 0);
}
.icon-Mapa-Apagado .path3:before {
  content: "\e924";
  margin-left: -0.8779296875em;
  color: rgb(255, 255, 255);
}
.icon-Mapa-Apagado .path4:before {
  content: "\e925";
  margin-left: -0.8779296875em;
  color: rgb(68, 67, 67);
}
.icon-Mapa-Apagado .path5:before {
  content: "\e926";
  margin-left: -0.8779296875em;
  color: rgb(68, 67, 67);
}
.icon-Mapa-Apagado .path6:before {
  content: "\e927";
  margin-left: -0.8779296875em;
  color: none;
}
.icon-Mapa-Encendido .path1:before {
  content: "\e928";
  color: rgb(0, 0, 0);
}
.icon-Mapa-Encendido .path2:before {
  content: "\e929";
  margin-left: -0.8779296875em;
  color: rgb(0, 0, 0);
}
.icon-Mapa-Encendido .path3:before {
  content: "\e92a";
  margin-left: -0.8779296875em;
  color: rgb(255, 255, 255);
}
.icon-Mapa-Encendido .path4:before {
  content: "\e92b";
  margin-left: -0.8779296875em;
  color: rgb(21, 33, 118);
}
.icon-Mapa-Encendido .path5:before {
  content: "\e92c";
  margin-left: -0.8779296875em;
  color: rgb(21, 33, 118);
}
.icon-Mapa-Encendido .path6:before {
  content: "\e92d";
  margin-left: -0.8779296875em;
  color: none;
}
.icon-Rueda-Serv-Prod-Apagada .path1:before {
  content: "\e92e";
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path2:before {
  content: "\e92f";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path3:before {
  content: "\e930";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path4:before {
  content: "\e931";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Rueda-Serv-Prod-Apagada .path5:before {
  content: "\e932";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path6:before {
  content: "\e933";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
  opacity: 0.55;
}
.icon-Rueda-Serv-Prod-Apagada .path7:before {
  content: "\e934";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
  opacity: 0.32;
}
.icon-Rueda-Serv-Prod-Apagada .path8:before {
  content: "\e935";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
  opacity: 0.55;
}
.icon-Rueda-Serv-Prod-Apagada .path9:before {
  content: "\e936";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
  opacity: 0.25;
}
.icon-Rueda-Serv-Prod-Apagada .path10:before {
  content: "\e937";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path11:before {
  content: "\e938";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
  opacity: 0.55;
}
.icon-Rueda-Serv-Prod-Apagada .path12:before {
  content: "\e939";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path13:before {
  content: "\e93a";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path14:before {
  content: "\e93b";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path15:before {
  content: "\e93c";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path16:before {
  content: "\e93d";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path17:before {
  content: "\e93e";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path18:before {
  content: "\e93f";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path19:before {
  content: "\e940";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path20:before {
  content: "\e941";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path21:before {
  content: "\e942";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path22:before {
  content: "\e943";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path23:before {
  content: "\e944";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path24:before {
  content: "\e945";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path25:before {
  content: "\e946";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path26:before {
  content: "\e947";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path27:before {
  content: "\e948";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path28:before {
  content: "\e949";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path29:before {
  content: "\e94a";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path30:before {
  content: "\e94b";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path31:before {
  content: "\e94c";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path32:before {
  content: "\e94d";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path33:before {
  content: "\e94e";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path34:before {
  content: "\e94f";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path35:before {
  content: "\e950";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path36:before {
  content: "\e951";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path37:before {
  content: "\e952";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path38:before {
  content: "\e953";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path39:before {
  content: "\e954";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path40:before {
  content: "\e955";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path41:before {
  content: "\e956";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path42:before {
  content: "\e957";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path43:before {
  content: "\e958";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path44:before {
  content: "\e959";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
  opacity: 0.75;
}
.icon-Rueda-Serv-Prod-Apagada .path45:before {
  content: "\e95a";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path46:before {
  content: "\e95b";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
  opacity: 0.55;
}
.icon-Rueda-Serv-Prod-Apagada .path47:before {
  content: "\e95c";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
  opacity: 0.32;
}
.icon-Rueda-Serv-Prod-Apagada .path48:before {
  content: "\e95d";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
  opacity: 0.55;
}
.icon-Rueda-Serv-Prod-Apagada .path49:before {
  content: "\e95e";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
  opacity: 0.25;
}
.icon-Rueda-Serv-Prod-Apagada .path50:before {
  content: "\e95f";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path51:before {
  content: "\e960";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
  opacity: 0.55;
}
.icon-Rueda-Serv-Prod-Apagada .path52:before {
  content: "\e961";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path53:before {
  content: "\e962";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path54:before {
  content: "\e963";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path55:before {
  content: "\e964";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path56:before {
  content: "\e965";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path57:before {
  content: "\e966";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path58:before {
  content: "\e967";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path59:before {
  content: "\e968";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path60:before {
  content: "\e969";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path61:before {
  content: "\e96a";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path62:before {
  content: "\e96b";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path63:before {
  content: "\e96c";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path64:before {
  content: "\e96d";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path65:before {
  content: "\e96e";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path66:before {
  content: "\e96f";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path67:before {
  content: "\e970";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path68:before {
  content: "\e971";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path69:before {
  content: "\e972";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path70:before {
  content: "\e973";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path71:before {
  content: "\e974";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path72:before {
  content: "\e975";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path73:before {
  content: "\e976";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path74:before {
  content: "\e977";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path75:before {
  content: "\e978";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path76:before {
  content: "\e979";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path77:before {
  content: "\e97a";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path78:before {
  content: "\e97b";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path79:before {
  content: "\e97c";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path80:before {
  content: "\e97d";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path81:before {
  content: "\e97e";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path82:before {
  content: "\e97f";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Apagada .path83:before {
  content: "\e980";
  margin-left: -0.6806640625em;
  color: rgb(0, 0, 0);
  opacity: 0.75;
}
.icon-Rueda-Serv-Prod-Apagada .path84:before {
  content: "\e981";
  margin-left: -0.6806640625em;
  color: rgb(58, 58, 58);
  opacity: 0.8;
}
.icon-Rueda-Serv-Prod-Apagada .path85:before {
  content: "\e982";
  margin-left: -0.6806640625em;
  color: rgb(229, 228, 227);
}
.icon-Rueda-Serv-Prod-Encendida .path1:before {
  content: "\e983";
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path2:before {
  content: "\e984";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path3:before {
  content: "\e985";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path4:before {
  content: "\e986";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Rueda-Serv-Prod-Encendida .path5:before {
  content: "\e987";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path6:before {
  content: "\e988";
  margin-left: -0.6826171875em;
  color: rgb(92, 137, 147);
  opacity: 0.55;
}
.icon-Rueda-Serv-Prod-Encendida .path7:before {
  content: "\e989";
  margin-left: -0.6826171875em;
  color: rgb(92, 137, 147);
  opacity: 0.32;
}
.icon-Rueda-Serv-Prod-Encendida .path8:before {
  content: "\e98a";
  margin-left: -0.6826171875em;
  color: rgb(92, 137, 147);
  opacity: 0.55;
}
.icon-Rueda-Serv-Prod-Encendida .path9:before {
  content: "\e98b";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
  opacity: 0.25;
}
.icon-Rueda-Serv-Prod-Encendida .path10:before {
  content: "\e98c";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path11:before {
  content: "\e98d";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
  opacity: 0.55;
}
.icon-Rueda-Serv-Prod-Encendida .path12:before {
  content: "\e98e";
  margin-left: -0.6826171875em;
  color: rgb(92, 137, 147);
}
.icon-Rueda-Serv-Prod-Encendida .path13:before {
  content: "\e98f";
  margin-left: -0.6826171875em;
  color: rgb(35, 98, 113);
}
.icon-Rueda-Serv-Prod-Encendida .path14:before {
  content: "\e990";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path15:before {
  content: "\e991";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path16:before {
  content: "\e992";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path17:before {
  content: "\e993";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
  opacity: 0.85;
}
.icon-Rueda-Serv-Prod-Encendida .path18:before {
  content: "\e994";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
  opacity: 0.85;
}
.icon-Rueda-Serv-Prod-Encendida .path19:before {
  content: "\e995";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
  opacity: 0.85;
}
.icon-Rueda-Serv-Prod-Encendida .path20:before {
  content: "\e996";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
  opacity: 0.85;
}
.icon-Rueda-Serv-Prod-Encendida .path21:before {
  content: "\e997";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path22:before {
  content: "\e998";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path23:before {
  content: "\e999";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path24:before {
  content: "\e99a";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path25:before {
  content: "\e99b";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path26:before {
  content: "\e99c";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path27:before {
  content: "\e99d";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path28:before {
  content: "\e99e";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path29:before {
  content: "\e99f";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path30:before {
  content: "\e9a0";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path31:before {
  content: "\e9a1";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path32:before {
  content: "\e9a2";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path33:before {
  content: "\e9a3";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path34:before {
  content: "\e9a4";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path35:before {
  content: "\e9a5";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path36:before {
  content: "\e9a6";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path37:before {
  content: "\e9a7";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path38:before {
  content: "\e9a8";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path39:before {
  content: "\e9a9";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path40:before {
  content: "\e9aa";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path41:before {
  content: "\e9ab";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path42:before {
  content: "\e9ac";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path43:before {
  content: "\e9ad";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path44:before {
  content: "\e9ae";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path45:before {
  content: "\e9af";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path46:before {
  content: "\e9b0";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path47:before {
  content: "\e9b1";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path48:before {
  content: "\e9b2";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path49:before {
  content: "\e9b3";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
  opacity: 0.75;
}
.icon-Rueda-Serv-Prod-Encendida .path50:before {
  content: "\e9b4";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
  opacity: 0.55;
}
.icon-Rueda-Serv-Prod-Encendida .path51:before {
  content: "\e9b5";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path52:before {
  content: "\e9b6";
  margin-left: -0.6826171875em;
  color: rgb(92, 137, 147);
  opacity: 0.55;
}
.icon-Rueda-Serv-Prod-Encendida .path53:before {
  content: "\e9b7";
  margin-left: -0.6826171875em;
  color: rgb(92, 137, 147);
  opacity: 0.32;
}
.icon-Rueda-Serv-Prod-Encendida .path54:before {
  content: "\e9b8";
  margin-left: -0.6826171875em;
  color: rgb(92, 137, 147);
  opacity: 0.55;
}
.icon-Rueda-Serv-Prod-Encendida .path55:before {
  content: "\e9b9";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
  opacity: 0.25;
}
.icon-Rueda-Serv-Prod-Encendida .path56:before {
  content: "\e9ba";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path57:before {
  content: "\e9bb";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
  opacity: 0.55;
}
.icon-Rueda-Serv-Prod-Encendida .path58:before {
  content: "\e9bc";
  margin-left: -0.6826171875em;
  color: rgb(92, 137, 147);
}
.icon-Rueda-Serv-Prod-Encendida .path59:before {
  content: "\e9bd";
  margin-left: -0.6826171875em;
  color: rgb(35, 98, 113);
}
.icon-Rueda-Serv-Prod-Encendida .path60:before {
  content: "\e9be";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path61:before {
  content: "\e9bf";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path62:before {
  content: "\e9c0";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path63:before {
  content: "\e9c1";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
  opacity: 0.85;
}
.icon-Rueda-Serv-Prod-Encendida .path64:before {
  content: "\e9c2";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
  opacity: 0.85;
}
.icon-Rueda-Serv-Prod-Encendida .path65:before {
  content: "\e9c3";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
  opacity: 0.85;
}
.icon-Rueda-Serv-Prod-Encendida .path66:before {
  content: "\e9c4";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
  opacity: 0.85;
}
.icon-Rueda-Serv-Prod-Encendida .path67:before {
  content: "\e9c5";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path68:before {
  content: "\e9c6";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path69:before {
  content: "\e9c7";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path70:before {
  content: "\e9c8";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path71:before {
  content: "\e9c9";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path72:before {
  content: "\e9ca";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path73:before {
  content: "\e9cb";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path74:before {
  content: "\e9cc";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path75:before {
  content: "\e9cd";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path76:before {
  content: "\e9ce";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path77:before {
  content: "\e9cf";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path78:before {
  content: "\e9d0";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path79:before {
  content: "\e9d1";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path80:before {
  content: "\e9d2";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path81:before {
  content: "\e9d3";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path82:before {
  content: "\e9d4";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path83:before {
  content: "\e9d5";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path84:before {
  content: "\e9d6";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path85:before {
  content: "\e9d7";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path86:before {
  content: "\e9d8";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path87:before {
  content: "\e9d9";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path88:before {
  content: "\e9da";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path89:before {
  content: "\e9db";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path90:before {
  content: "\e9dc";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path91:before {
  content: "\e9dd";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path92:before {
  content: "\e9de";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path93:before {
  content: "\e9df";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path94:before {
  content: "\e9e0";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
}
.icon-Rueda-Serv-Prod-Encendida .path95:before {
  content: "\e9e1";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
  opacity: 0.75;
}
.icon-Rueda-Serv-Prod-Encendida .path96:before {
  content: "\e9e2";
  margin-left: -0.6826171875em;
  color: rgb(0, 0, 0);
  opacity: 0.55;
}
.icon-Rueda-Serv-Prod-Encendida .path97:before {
  content: "\e9e3";
  margin-left: -0.6826171875em;
  color: rgb(35, 55, 137);
  opacity: 0.8;
}
.icon-Rueda-Serv-Prod-Encendida .path98:before {
  content: "\e9e4";
  margin-left: -0.6826171875em;
  color: rgb(229, 228, 227);
}
.icon-Volante-Apagado .path1:before {
  content: "\e9e5";
  color: rgb(229, 228, 227);
}
.icon-Volante-Apagado .path2:before {
  content: "\e9e6";
  margin-left: -1em;
  color: rgb(187, 186, 187);
}
.icon-Volante-Apagado .path3:before {
  content: "\e9e7";
  margin-left: -1em;
  color: rgb(181, 181, 180);
}
.icon-Volante-Apagado .path4:before {
  content: "\e9e8";
  margin-left: -1em;
  color: rgb(181, 181, 180);
}
.icon-Volante-Apagado .path5:before {
  content: "\e9e9";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Volante-Apagado .path6:before {
  content: "\e9ea";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Volante-Apagado .path7:before {
  content: "\e9eb";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Volante-Apagado .path8:before {
  content: "\e9ec";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Volante-Apagado .path9:before {
  content: "\e9ed";
  margin-left: -1em;
  color: rgb(11, 14, 22);
}
.icon-Volante-Apagado .path10:before {
  content: "\e9ee";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Volante-Encendido .path1:before {
  content: "\e9ef";
  color: rgb(229, 228, 227);
}
.icon-Volante-Encendido .path2:before {
  content: "\e9f0";
  margin-left: -1em;
  color: rgb(187, 186, 187);
}
.icon-Volante-Encendido .path3:before {
  content: "\e9f1";
  margin-left: -1em;
  color: rgb(181, 181, 180);
}
.icon-Volante-Encendido .path4:before {
  content: "\e9f2";
  margin-left: -1em;
  color: rgb(181, 181, 180);
}
.icon-Volante-Encendido .path5:before {
  content: "\e9f3";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Volante-Encendido .path6:before {
  content: "\e9f4";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Volante-Encendido .path7:before {
  content: "\e9f5";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Volante-Encendido .path8:before {
  content: "\e9f6";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Volante-Encendido .path9:before {
  content: "\e9f7";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Volante-Encendido .path10:before {
  content: "\e9f8";
  margin-left: -1em;
  color: rgb(20, 30, 56);
}
.icon-Volante-Encendido .path11:before {
  content: "\e9f9";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
